:root {
    --color-primary: #6C38CC;
    --color-hover: #4a278c;
    --color-bg: #16171D;
    --color-bg-medium: #1E1F29;
    --color-bg-light: #2E2D3D;
    --color-text: #fafafa;
    --color-link-hover: #AFB2BF;
    --color-stroke: #4d5064;
    --color-secondary: #e47ad5;
    --border-8: 8px;
    --border-5: 5px;
    --border-10: 10px;
    --layout-width: 1172px;
    --gradient: linear-gradient(158deg, #d77be5 0%, #be63e5 34.69%, #6c38cc 100%);
    --color-footer: #101114; 
}

body {
    background-color: var(--color-bg);
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

a {
    text-decoration: none;
}